.navigation {
  display: flex;
  align-items: center;

  & a {
    font-weight: var(--fw-medium);
    padding: 8px 12px;
    border-radius: 5px
  }
  
  & a[aria-current="page"] {
    color: rgba(var(--c-accent));
    background-color: rgba(var(--c-accent), 0.07);
  }

  & a + a {
    margin-left: 24px;
  }
}