.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (--mobile) {
    flex-direction: column;
  }
}

.map {
  margin-right: 64px;
  width: 100%;

  & :global(iframe) {
    width: 100%;
  }

  @media (--mobile) {
    margin-right: 0;
  }
}

.info {
  & > :global(a > div) {
    margin: 12px 0;
    background: #fff;
  }

  @media (--mobile) {
    margin-top: 80px;
  }
}