.carousel {
  background: rgba(var(--c-light), 1);
  position: relative;
  height: 640px;
}

.carouselImg {
  height: 640px;
}

.arrowPrev,
.arrowNext {
  height: 1em;
  width: 1em;
  outline: 0;
  border: 0;
  background: none;
  padding: 0;
  font-size: 30px;
  color: rgba(var(--c-accent), 1);
  position: absolute;
  top: 50%;
  z-index: 1;
  cursor: pointer;
}

.arrowPrev {
  left: -60px;
}

.arrowNext {
  right: -60px;
}

.thumbnails {
  margin-top: 20px;

  & :global(.slick-slide.slick-current) {
    border-color: rgba(var(--c-accent), 1);
  }

  & :global(.slick-slide) {
    width: 160px;
    height: 102px;
    margin-left: 20px;
    border: 3px solid transparent;
  }

  & .thumb {
    width: 160px;
    height: 100px;
    background: rgba(var(--c-light),1);
    cursor: pointer;
  }
}
