.body {
  margin-top: 30px;
}

.table {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr;
  grid-gap: 20px;

  & strong {
    font-weight: var(--fw-medium)
  }

  @media (--mobile) {
    grid-template-columns: auto 1fr
  }
}